# Database
DB_ROOT_PASSWORD=change_me_in_production

# JWT
JWT_SECRET=change_me_to_a_long_random_string_at_least_256_bits_for_production
JWT_ACCESS_EXPIRATION=900000
JWT_REFRESH_EXPIRATION=604800000

# Path to fbc binary on host system
FBC_HOST_PATH=/usr/local/bin/fbc